head{
  display: flex;
  justify-content: space-around;
  font-family: 'Lobster', cursive;
  font-size: large;
  padding-top: 15px;
}
ul{
  display: flex;
}
li{
  list-style: none;
  padding-left: 12px;
  cursor: pointer;
}
 h2{
  cursor: pointer;
 } 
