<form [formGroup]="formulaire">
  <div class="group">
       <input type="text"  id="titre" placeholder="Titre Tache" formControlName="Titre" autocomplete="off">
    <br>
    <br>
       <textarea type="text"  id="description" placeholder="description" formControlName="Description" autocomplete="off" cols="50" ></textarea>
    <br>
  </div>
  <div class="sendB">
    <br>
    <button  type="submit" (click)="addTask.addlist(formulaire)" [disabled]="formulaire.invalid" routerLink="">Ajouter</button>
  </div>
</form>
