form{
  position:absolute ;
  margin-top: 100px;
  left:250px;
}
input{
  margin-bottom: 14px;
  margin-left: auto;
  width: 499px;
  height: 29px;
  }
button{
  position:relative ;
  background-color: peachpuff;
  width: 200px;
  height: 30px;
  border: none;
  left: 50px;
}
#description{
  height: 100px;
}
.sendB{
  position: relative;
}

