<div class="titleAndTaskContainer" *ngFor="let c of mytask$ | async" >
  <div class="taskContainer">
      <div class="taskTitle-and-finish-action-container">
      <p id="tasktitle">Task:{{c.tasktitle}}</p>
       <img (click)="taskservice.finirTache(c.id)" id="terminertache" src="../../assets/images/termine.png">
        <br>
      </div>
      <p>Description:{{c.description}}</p><br>
      <p>Created at:{{c.startDate | date:'shortTime'}}</p> <br>
      <p *ngIf="c.finis===true">Statu: Termine </p>

  </div>

  <br><br><br><br><br><br>
</div>
<app-add-task ></app-add-task>

